
/* GENERAL STYLES */


:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-background-color:#fff;
    --secondary-background-color:#2F303A;
    --third-background-color:#F5F4FA;
    --primary-text-color-theme-light:#212121;
    --secondary-text-color-theme-light:#757575;
    --third-text-color-theme-dark:rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-dark: #FFFFFF;
    --accent-color:#2196F3;
    --logo-color:#000000;
    --order-button-background-color: #188CE8;
}



body {
    background-color:var(--primary-background-color);
    color:var(--primary-text-color-theme-light);
    font-family:'Roboto', sans-serif;
    letter-spacing: 0.03em;

}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
 /* Reset start */


.list {
    list-style: none; 
}

.link { 
    text-decoration: none;  
}
.link:hover, .link:focus {
    color:var(--accent-color) ; 
}

img {
    display: block;
    max-width: 100%;
}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    clip-path: inset(100%);
    
}
 /* Reset finish */
 .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* outline: 2px solid tomato; */
}
.section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}


.our-future{
    color: var(--secondary-text-color-theme-light);
    font-size: 14px;
    line-height: 1.71;  
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
}

.header-section {
    border-bottom: 1px solid #ECECEC;;
}

 
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--logo-color);
    display: block;
}

.navigation .logo {
    padding-top: 24px;
    padding-bottom: 24px;;
    margin-right: 93px;
}

.navigation {
    display: flex;
}


.logo-web {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .link {
    color: var(--primary-text-color-theme-light);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

/* CONTACTS - HEADER */

.contact-item:not(:last-child) {
    margin-right: 50px;
}
.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color-theme-light); 
}
.contact-list {
    display: flex;
    margin-left: auto;
}
.contact-item .contact-email,
.contact-item .contact-tel {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color-theme-light);
}

.contact-email,
.contact-tel {
    color: var(--secondary-text-color-theme-light);
    display: flex;
    align-items: center;
    gap: 10px;
}

.adress-city:hover,
.adress-city:focus,
.contact-email:hover,
.contact-email:focus,
.contact-tel:hover,
.contact-tel:focus {
    color: var(--accent-color);
}
 .contact-icon{
    fill: currentColor;
 }

/* Hero */

.hero {
    background: rgba(47, 48, 58, 0.4);
    text-align: center;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)), url(../images/hero.jpg);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

   

 .hero-solution {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-text-color-theme-dark );
    text-transform: uppercase;
    max-width: 693px;
    margin: 0 auto;
}     
  
 /* Hero button */



.hero-btn-order {
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.86;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    margin-top: 30px;
    padding: 10px 32px;
}

.hero-btn-order:focus,
.hero-btn-order:hover {
    
    background-color:var(--order-button-background-color) ;
}



 /* Peculiarities */

 .section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

color: var(--primary-text-color-theme-light);
}

.title {
    list-style: none; 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.our-future{
   
   font-size: 14px;
   line-height: 1.71; 
   
   color: var(--secondary-text-color-theme-light);
}
.our-list{
    display: flex;
    gap: 30px;
}
.feature-item {
    width: 270px;

}
.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.feature-title {
    margin-bottom: 10px;
}
/*About section*/

.about{
   padding-top: 0; 
}
.about-us-title{
    margin-bottom: 50px; 
}

.about-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}

/* Our-team */


.team{
   background: var(--third-background-color); 
    
}
.our-team-list{
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-teams{
    font-weight: 700;
    font-size: 36px;
    line-height:1.16 ;
    text-align: center;
}
.our-title{
    margin-bottom: 50px; 
}

/*Team-cards*/
.team-cards {
   
    display: flex;
    gap: 30px;
}

.our-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
} 

.our-team-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color-theme-light)
    
} 
.box {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Contacts*/

.page-footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.cnt-adres-link {

 background-color:var(--secondary-background-color) 
}
.address {
    margin-top: 20px;
}
.adress-list {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71; 
}
.adress-city {
    color: var(--primary-text-color-theme-dark);
}


.cnt-footer {
    margin-top: 9px;
    color: var(--third-text-color-theme-dark);
}

.cnt-email-link {
 
 color: var(--third-text-color-theme-dark);
 
    
}

.cnt-tel-link {
 
 color:var(--third-text-color-theme-dark);
 
}



.logo-studio {
    
    color:var(--primary-text-color-theme-dark);  
}



                   /* Poftfolio*/ 

.choise {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    
}                  

.choise-site-btn {

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;

    background-color: var(--third-background-color);
    color: var(--primary-text-color-theme-light);
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;  
    
     
}

.choise-site-btn:focus,
.choise-site-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}   

.site-list{
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    
}

.site-container{
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}
 /* Projects*/

.site-project {
     
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--primary-text-color-theme-light);
    margin-bottom: 4px;
}

.site-type{
    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color-theme-light); 
   
}
.sections {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}

 



















